!!!
%html.fullpage-false
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Test Application
    %link{href: '/assets/application.css', rel: "stylesheet"}/

  %body

    /[if IE]
      %link{href: '/assets/css/ie.css', rel: "stylesheet"}/

    #fullpage2

      = haml :back
      = haml :"case-studies/header"
      = haml :"case-studies/problem"
      = haml :"case-studies/solution"
      = haml :"case-studies/video"
      = haml :"case-studies/result"
      = haml :contact

  %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js' }
  %script{ src: '/assets/application.js' }
