.section#whatWeCreate
  .sub-section
    - if header == true
      = haml :'work-sections/bolt', :locals => { :header => true, :text => "What we create" }

      .blue-block.blue-block-head
        .outer
          .middle
            .inner
              .row
                = haml :'work-sections/work_block', :locals => { :type => "big-and-bold" }
                = haml :'work-sections/work_block', :locals => { :type => "campaigns" }
                = haml :'work-sections/work_block', :locals => { :type => "digital-influencer" }

    - else
      .blue-block.blue-block-foot
        .outer
          .middle
            .inner
              .row
                = haml :'work-sections/work_block', :locals => { :type => "digital-strategy" }
                = haml :'work-sections/work_block', :locals => { :type => "short-form" }
                = haml :'work-sections/work_block', :locals => { :type => "small-and-nimble" }

      = haml :'work-sections/bolt', :locals => { :header => false }
